---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
        <div class="post-meta small">
          {% if post.swift_version %}
            <img alt="Swift {{ post.swift_version }}" src="https://img.shields.io/badge/Swift-{{ post.swift_version }}-orange.svg" style="vertical-align: middle" />
          {% endif %}
          {% for category in post.categories %}
              <img alt="Topic: {{ category }}" src="https://img.shields.io/badge/Topic-{{ category | url_escape }}-blue.svg" style="vertical-align: middle" />
          {% endfor %}
          {% if post.translations %}
            <p class="post-translations small">– Also available in: 
            {% for translation in post.translations %}
              {% if translation.author %}
                {% assign tooltip = " translation — Thanks to " | prepend: translation.lang | append: translation.author %}
              {% else %}
                {% assign tooltip = " translation" | prepend: translation.lang %}
              {% endif %}
              <a href="{{ translation.url }}" title="{{ tooltip }}">{{ translation.flag }} {{ translation.lang }}</a>
              {% unless forloop.last %}, {% endunless %}
            {% endfor %}
            </p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
